{% load static %}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h3 class="page-title">SISTEM PREDIKSI KERUSAKAN SENSOR MAWS MENGGUNAKAN METODE ARIMA DAN RBF</h3>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4>Apa Itu Predictive Maintenance?</h4>
                    <p style="font-size:18px;">Predictive maintenance adalah perawatan untuk mengantisipasi kegagalan
                        sebelum terjadi kerusakan total pada sistem alat. Perawatan Prediktif (Predictive Maintenance)
                        dilakukan untuk memprediksi terjadinya kerusakan pada komponen tertentu pada alat dengan cara
                        melakukan analisa trend perilaku mesin atau peralatan kerja. Perbedaan pemeliharaan secara
                        prediksi dengan perawatan berkala (Periodic Maintenance) adalah dilakukan berdasarkan kondisi
                        alat di waktu tertentu (Time Based), predictive maintenance lebih memperhatikan kondisi
                        peralatan (Condition Based). Permasalahan tersebut lalu dihilangkan atau dikontrol sehingga
                        menghasilkan indikasi kapabilitas peralatan pada saat ini dan di masa yang akan datang (Heizer &
                        Render, 2001). </p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 style="font-size:18px;" class="card-title m-b-0">Klasifikasi</h5>
                    <div class="card">
                        <div class="card-body">
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="font-size:16px;" scope="col">Status</th>
                                    <th style="font-size:16px;" scope="col">Persentase Kondisi Sensor </th>
                                    <th style="font-size:16px;" scope="col">Bulan</th>
                                    <th style="font-size:16px;" scope="col">Keterangan</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="font-size:16px;" scope="row">Normal</th>
                                    <td style="font-size:16px;">100-70</td>
                                    <td style="font-size:16px;">Desember - Maret</td>
                                    <td style="font-size:16px;">Kondisi Sensor Beroperasi dengan baik</td>
                                </tr>
                                <tr>
                                    <th style="font-size:16px;" scope="row">Warning</th>
                                    <td style="font-size:16px;">70-50</td>
                                    <td style="font-size:16px;">April-Juli<br>
                                    <td style="font-size:16px;">Berpotensi Rusak atau sensor mulai mengalami kesalahan
                                        pengukuran</td>
                                </tr>
                                <tr>
                                    <th style="font-size:16px;" scope="row">Over</th>
                                    <td style="font-size:16px;">50-0</td>
                                    <td style="font-size:16px;">Agustus - November</td>
                                    <td style="font-size:16px;">Berpotensi Rusak dan sensor harus di kalibrasi</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>